<h1>Results</h1>


<p> Your word: <%= @attempt %> </p>
<p> Time taken to answer: <%= @result[:time] %> </p>
<p> Translation: <%= @result[:translation] %> </p>
<p> Your score: <%= @result[:score] %> </p>
<%= @result[:message] %>
